{% extends '::layout.html.twig' %}

{% block layout_title %}Inspections{% endblock %}
{% block content %}

    {{ pagerfanta(pager, 'twitter_bootstrap3') }}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Decision</th>
            <th>Statutes</th>
            <th>Decision Date</th>
        </tr>
        </thead>
        <tbody>
        {% for result in pager.currentPageResults %}
            {% set r = result.inspection %}
            <tr>
                <td>{{ r.rawRetailerName }}</td>
                <td>{{ r.rawFullAddress }}</td>
                <td>{{ r.decisionType }}</td>
                <td>{{ result.violationsCount }}</td>
                <td>{{ r.decisionDate|date }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}